*{
padding: 0%;
margin: 0%;

}
.card p{
  height: 25%;

}
.row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
}

    /*mob pot*/
    @media (max-width: 520px) {
      .row{
       
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  
      }
     
      .column .card{
      position: relative;
   
      }

   }
   
   /* mob land and tab pot */
   @media screen and (min-device-width: 768px) 
       and (max-device-width: 1024px) {
       
        .row{
       
          display: flex;
  
        }
    
  }
  @media screen and (min-device-width: 540px) 
  and (max-device-width: 720px) {
.row{
   width: 105vw;
   display: flex;

}
  }

  @media screen and (min-device-width: 912px) 
       and (max-device-width: 1368px) {
       
        .row{
       
          display: flex;
          left:10%;
       

  
        }
    
  }


