*{
  padding: 0%;
  margin: 0%;
  overflow-x: hidden;
  }
  
.Quotes-column img{
margin-left: auto;
margin-right: auto;
margin-top: 5%;


  }
  .icons{
    color:black;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  
  }


  .Quotes-column p{
    font-size: small;
    font-family: Roboto;
    text-align: left;
    
    
  }
  .Quotes-column{
    background-color: #f8f4f4;
   width:15rem;
   height:15rem;
  text-align: center;
  }
  .Quotes-row{
    display:flex;
    justify-content: space-around;
       
         }
  
  @media(width >=3501px) {
  
  
          .Quotes-column img{
            width: 100%;
            display: grid;
         
          
          }
          .quotes{
            display: grid;
          }
          .Quotes-column p{
         text-align: center;
         font-size: 37px;
          }
    
          }
  
  @media(2501px <= width <=3500px) {
  
  
          .Quotes-column img{
            width: 100%;
            display: grid;
         
          
          }
          .quotes{
            display: grid;
          }
          .Quotes-column p{
  text-align: center;
         font-size: 23px;
          }
    
          }
          
  
  
  
  @media(1501px <= width <=2500px) {
  
          .Quotes-column img{
            width: 100%;
            display: grid;
         
          
          }
          .quotes{
            display: grid;
          }
          .Quotes-column p{
         text-align: center;
         font-size: 14px;
          }
    
          }
          
  
  @media (1150px <= width <=1500px) {
  
 
          .Quotes-column img{
            width: 100%;
            display: grid;
         
          
          }
          .quotes{
            display: grid;
          }
          .Quotes-column p{
          text-align: center;
         font-size: 14px;
          }
    
          }
  @media (901px <= width <= 1149px) {

          .Quotes-column img{
            width: 100%;
            display: grid;
        
          }
          .Quotes-column {
            width: 13.5rem;
          }
          .quotes{
            display: grid;
          }
          .Quotes-column p{
  text-align: center;
         font-size: 14px;
          }
    
          }
  @media (700px <= width <= 900px) {
    .Quotes-row{
      display:block;
      margin-left: auto;
      margin-right: auto;
    

         
           }
    .Quotes-column img{
      width: 100%;
     
  
    }
    .Quotes-column {
      width: 14rem;
     row-gap:10px;
      display:block;
      margin-left: auto;
      margin-right: auto;
      
    }
    .quotes{
      display: grid;
    }
    .Quotes-column p{
text-align: center;
   font-size: 14px;
    }

    }
  
  @media (611px <= width <= 699px) {
    .Quotes-row{
      display:block;
      margin-left: auto;
      margin-right: auto;
    

         
           }
    .Quotes-column img{
      width: 100%;
     
  
    }
    .Quotes-column {
      width: 14rem;
     row-gap:10px;
      display:block;
      margin-left: auto;
      margin-right: auto;
      
    }
    .quotes{
      display: grid;
    }
    .Quotes-column p{
text-align: center;
   font-size: 14px;
    }

    }
  
  @media (550px <= width <= 610px) {
  
    .Quotes-row{
      display:block;
      margin-left: auto;
      margin-right: auto;


         
           }
    .Quotes-column img{
      width: 100%;
     
  
    }
    .Quotes-column {
      width: 14rem;
     row-gap:10px;
      display:block;
      margin-left: auto;
      margin-right: auto;
      column-gap: 30px;
      
    }
    .quotes{
      display: grid;
    }
    .Quotes-column p{
text-align: center;
   font-size: 14px;
    }

    }
  
  
  @media (420px <= width <= 549px) {
  
   
    .Quotes-row{
      background-size: cover;
      display: flex;
flex-direction: column;
row-gap: 30px;
   
   }

     .Quotes-column img{
      
      width:100%;
   
     }
     .Quotes-column p{
  
       text-align: center;
     }
  
     }
  
  @media (341px <= width <= 419px) {
  
  

    .Quotes-row{
      background-size: cover;
      display: flex;
flex-direction: column;
row-gap: 30px;

   
   }
  
     .Quotes-column img{
      
      width:100%;
   
     }
     .Quotes-column p{
  
       text-align: center;
     }
  
     }
   
  
  
  @media (280px <= width <= 340px) {
  
   
    .Quotes-row{
      background-size: cover;
      display: flex;
flex-direction: column;
row-gap: 30px;
   
   }
  
     .Quotes-column img{
      
      width:100%;
   
     }
     .Quotes-column p{
  
       text-align: center;
     }
  
    
     }