* {
  margin: 0;
  padding: 0;
}

/* Container style for large and small screens */
.container-two-columns {
 
  z-index: 1;
}

/* Adjustments for Title component (you can remove or adjust these as needed) */
.Title-data h1 {
  font-family: 'Playfair Display';
}

.Title-data p {
  color: #FACBAF;
}

.Title-image {
  height: 25rem;
  width: 19rem;
}

/* Responsive styles for screens larger than 800px */
@media (min-width: 800px) {
  .container-two-columns {
    background-color: black;
    height: 33rem;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }

  .Title-image {
    width: 16rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .Title-data h1 {
    font-size: 5rem;
    color: #FACBAF;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Responsive styles for screens smaller than 800px */
@media (max-width: 799px) {
  .container-two-columns {
    background-color: rgb(11, 11, 11);
    height: 49rem;
  }

  .Title-image {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 19%;
  }

  .Title-data {
    text-align: center;
    color: #FACBAF;
    margin-top: 10%;
  }

  .Title-data p {
    text-align: center;
  }

  .Title-data h1 {
    font-size: 3.5rem;
    color: #FACBAF;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}