.Disappear1-recent{
    background-color: black;
    margin: 2%;
    color:white;
    
  }
  .Disappear1-added{
    margin: 2%;
    display:flex;
    
  }
  .Disappear1-added button{
    width: max-content;
  margin-left: auto;
  border-radius: 10%;
  
  }
  


    .Disappear1-column2 p{
        font-size: small;
        font-family: Roboto;
        
      }
      .Disappear1-column2{
        background-color: 
      rgb(4, 4, 4);
       color:white;
       width:70%;

      height:max-content;
   
     border-radius: 1%;
     border-style: solid;
   
   display: flex;
  flex-direction: column;
      
      
      }
  
      .Disappear1-column2 button{
        
        width:100%;
        height: 10%;
        border-radius: 5%;
        color: white;
        text-align: center;
        justify-content: center;
        background-color: #FF8A40;
        
      }
      
      .Disappear1-column2 img{
        width:100%;
   
      }
      .Disappear1-column2 h5{
        text-align: center;
      }
      
      
      .Recently-column2 p{
        font-size: small;
        font-family: Roboto;
  
        
      }
     .Recently-column2{
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      width:68%;
  
     }
      .Recently-row2{
        height:30rem;
  
        margin-left: auto;
        margin-right: auto;
      }
      .quotes{
        display: grid;
      }
      .Recently-column2 button{
        background-color:rgba(108, 50, 49, 1);
        width:100%;
        height: 10%;
        border-radius: 1%;
        color: white;
        text-align: center;
        justify-content: center;
       
        
      }
      @media (1901px <= width <=2500px) {


        .Recently-column2 p{
          font-size: small;
          font-family: Roboto;
    
          
        }
       .Recently-column2{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width:68%;
    
       }
        .Recently-row2{
          height:30rem;
    
          margin-left: auto;
          margin-right: auto;
        }
        .quotes{
          display: grid;
        }
        .Recently-column2 button{
          background-color:rgba(108, 50, 49, 1);
          width:100%;
          height: 10%;
          border-radius: 1%;
          color: white;
          text-align: center;
          justify-content: center;
         
          
        }

      }