
  .cards-column2{
    background-color:white;
    position: relative;
    text-align: center;
    width:24rem;
    height:26rem;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 1%;
   border-style: solid;
   border-color:black;

  }
 .cards-column2 h5{
  font-size: 15px;
 }
 .cards-column2 p{
  font-size: 12px;
}
 
  .cards-column2 button{
    background-color:rgb(12, 12, 12);
    color:white;
    display: flex;
    width: 50%;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
  }
    
 
  .cards-column2 img{
    width:100%;
    height: 50%;

  }


  @media (width >= 399px) {
  
    .cards-row2{
      display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 80px;
        justify-content: space-evenly;
        margin: 1rem;
    }
      .cards-column2{
        position: relative;
        width:24rem;
        height:26rem;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;

      }
      .cards-column2 p{
        font-size: 12px;
      }
      
    
    
    }
  