.card{
  display: flex;
  flex-direction: column;
}
 .image {
  width:25px;
  margin-left: auto;
}
.card-content {
  font-size: 10px;
}
.card-content {
  font-size: 0.625rem; /* equals 10px if base font is 16px */
  width: 80%;
}
.card .bt1{
  background-color: brown;
  margin-top: auto;
}

