*{
    padding: 0%;
    margin: 0%;
    }
    
   
    
    .column2 p{
      font-size: small;
      font-family: Roboto
      ;
    }
    .column2{
      background-color: 
    white;
     height:98%;
     width:70%;
    text-align: center;
    display: grid;
    margin-left: 10%;
   border-radius: 1%;
   border-style: solid;
   border-color:black;
  
    
    
    }
    
    
    .row2{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr ; 
    
    }
    
   
 
    @media (2501px <= width <=9500px) {
    
      .row2{
        display: grid;
       grid-template-rows: 1fr;
       grid-template-columns: 1fr 1fr 1fr 1fr;
          row-gap: 10px;
          height:20vw;
          margin-top: 5%;
          
            }
            .column2 img{
              width: 100%;
             
          display: block;
          margin-left: auto;
          margin-right: auto;
           
            
            }
            .quotes{
              display: grid;
            }
            .column2 button{
              background-color: black;
              width:100%;
              height: 100%;
           
              
              color: white;
              display: block;
              margin-left: auto;
              margin-right: auto;
            }
            }
            
    
    
    
    @media (1501px <= width <=2500px) {
    
      .row2{
        display: grid;
       grid-template-rows: 1fr;
       grid-template-columns: 1fr 1fr 1fr 1fr;
          row-gap: 10px;
          height:27vw;
          margin-top: 5%;
        
       
          
            }
            .column2 img{
              width: 100%;
             
          display: block;
          margin-left: auto;
          margin-right: auto;
           
            
            }
            .quotes{
              display: grid;
            }
            
            .column2 button{
              background-color: black;
              width:100%;
              height: 100%;
           
              font-size: large;
              color: white;
              display: block;
              margin-left: auto;
              margin-right: auto;
            }
              .column2 p{

              font-size: medium;
            }
      
            }
            
    
    @media (1150px <= width <=1500px) {
    
      .row2{
        display: grid;
       grid-template-rows: 1fr;
       grid-template-columns: 1fr 1fr 1fr 1fr;
          row-gap: 10px;
          height:28vw;
          margin-top: 5%;
       
          
            }
            .column2 img{
              width: 100%;
             
          display: block;
          margin-left: auto;
          margin-right: auto;
           
            
            }
            .quotes{
              display: grid;
            }
            .column2 button{
              background-color: black;
              width:100%;
              height: 100%;
              color: white;
              display: block;
              margin-left: auto;
              margin-right: auto;
            }
      
            }
            
          
    
    @media (901px <= width <= 1149px) {
      .row2{
        display: grid;
       grid-template-rows: 1fr;
       grid-template-columns: 1fr 1fr 1fr 1fr;
          row-gap: 10px;
          height:35vw;
          margin-top: 5%;
       
          
            }
            .column2 img{
              width: 100%;
           
          display: block;
          margin-left: auto;
          margin-right: auto;
           
            
            }
            .quotes{
              display: grid;
            }
            .column2 button{
              background-color: black;
              width:100%;
              height: 100%;
              color: white;
              display: block;
              margin-left: auto;
              margin-right: auto;
            }
      
       }
    
    
    
    @media (700px <= width <= 900px) {
    
      .row2{
        background-size: cover;
        display: flex;
    
     display: grid;
      grid-template-columns: 1fr 1fr;
     
     }
     .column2{
      margin-left: 6vw;
      height:48vw;
      margin-top: 10vw;
     
       }
       .column2 img{
        width: 100%;
     
    display: block;
    margin-left: auto;
    margin-right: auto;
     
      
      }
       .column2 p{
       
         text-align: center;
       }
       .column2 button{
        background-color: black;
        width:100%;
        height: 100%;
        color: white;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      
       }
    
    
    
    @media (611px <= width <= 699px) {
    
      .row2{
        background-size: cover;
        display: flex;
    
     display: grid;
      grid-template-columns: 1fr 1fr;
     
     }
     .column2{
      margin-left: 6vw;
      height:55vw;
      margin-top: 10vw;
     
       }
       .column2 img{
        width: 100%;
     
    display: block;
    margin-left: auto;
    margin-right: auto;
     
      
      }
       .column2 p{
       
         text-align: center;
       }
       .column2 button{
        background-color: black;
        width:100%;
        height: 100%;
        color: white;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      
       }
    
    
    @media (550px <= width <= 610px) {
    
      .row2{
        background-size: cover;
        display: flex;
       flex-direction: column;
        width:110%;
     
     }
     .column2{
      margin-left: vw;
      height:58vw;
      margin-top: 10vw;
     
       }
       
       .column2 img{
   
        width:100%;
        height:35vw;
     
       }
       .column2 p{
       
         text-align: center;
       }
       .column2 button{
        background-color: black;
        width:100%;
        height: 100%;
        color: white;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
       }
    
    
    @media (420px <= width <= 549px) {
    
      .row2{
        background-size: cover;
        display: flex;
       flex-direction: column;
        width:110%;
     
     }
     .column2{
      margin-left: vw;
      height:70vw;
      margin-top: 10vw;
     
       }
       
       .column2 img{
   
        width:100%;
        height:35vw;
     
       }
       .column2 p{
       
         text-align: center;
       }
       .column2 button{
        background-color: black;
        width:100%;
        height: 100%;
        color: white;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
       }
    
    @media (341px <= width <= 419px) {
    
      .row2{
        background-size: cover;
        display: flex;
       flex-direction: column;
        width:110%;
     
     }
     .column2{
      margin-left: vw;
      height:94vw;
      margin-top: 10vw;
     
       }
       
       .column2 img{
   
        width:100%;
        height:35vw;
     
       }
       .column2 p{
       
         text-align: center;
       }
       .column2 button{
        background-color: black;
        width:100%;
        height: 100%;
        color: white;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
       }
    
     
    
    
    @media (280px <= width <= 340px) {
    
      .row2{
        background-size: cover;
        display: flex;
       flex-direction: column;
        width:110%;
     
     }
     .column2{
      margin-left: vw;
      height:94vw;
      margin-top: 10vw;
     
       }
       
       .column2 img{
   
        width:100%;
        height:35vw;
     
       }
       .column2 p{
       
         text-align: center;
       }
       .column2 button{
        background-color: black;
        width:100%;
        height: 100%;
        color: white;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
       }