*{
  padding: 0%;
  margin: 0%;
  margin: 0%;
  padding: 0%;

}
  

  .icons{
    color:white;
    font-size: 2.5rem;
  }

  @media (2501px <= width <=9500px) {




    .body{
      background-color: black;
    
    }
    .heading p{
      color:#D9D9D9;
      font-size: 2.3rem;
      margin-right:80%;
    
     
  
  
    }
    .heading1{
      color:#FF8A40;
      font-family: Playfair Display;
      font-size: 10rem;
      font-weight: 600;
      line-height: 150px;
    }
    .para{
      color: white;
      width:25%;
    
    }
    .image img{
      position:absolute; 
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  margin-top:-21%;
    }
    .icons{
      font-size: large;
      display: grid;
      align-items: center; 
      grid-template-columns: 0.04fr 0.04fr 0.04fr 0.04fr 0.04fr;
    margin-top: 15%;
     
      
    }
    }

@media (1501px <= width <=2500px) {
  .body{
    background-color: black;
    height:63rem
  
  }
  .heading p{
    color:#D9D9D9;
    font-size: 4rem;
    margin-right:80%;
    width:50%;
  
   


  }
  .heading1{
    color:#FF8A40;
    font-family: Playfair Display;
    font-size: 11rem;
    font-weight: 600;
    line-height: 210px;
  }
  .para{
    color: white;
    width:25%;
  
  }

  .image img{
    position:absolute; 
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  margin-top:-21%;
  background:radial-gradient(orange 1%, black 60%);
  
  
  background-repeat: no-repeat;
  }
  .icons{
    font-size: large;
    display: grid;
    align-items: center; 
    grid-template-columns: 0.04fr 0.04fr 0.04fr 0.04fr 0.04fr;
  margin-top: 15%;
   
    
  }
  }






@media (1355px <= width <=1500px) {
  
.body{
  background-color: black;
 height:50rem

}
.heading p{
  color: #D9D9D9;
  font-size: 3rem;
  margin-right: 70%;

}
.heading1{
  color:#FF8A40;
  font-family: Playfair Display;
  font-size: 11rem;

  font-weight: 600;
  line-height: 210px;
}
.para{
  color: white;
  width:25%;
  

}
.image img{
  position:absolute; 
left: 50%;
transform: translateX(-50%);
width: 50%;
margin-top:-30%;
background:radial-gradient(orange 1%, black 60%);


background-repeat: no-repeat;
}
.icons{
  font-size: large;
  display: grid;
  align-items: center; 
  grid-template-columns: 0.04fr 0.04fr 0.04fr 0.04fr 0.04fr;
margin-top: 15%;
 
  
}
}








@media (1180px <= width <=1354px) {
  
  .body{
    background-color: black;
  
  }
  .heading p{
    color: #D9D9D9;
    font-size: 2.5rem;
    margin-right: 68%;
  
  }
  .heading1{
    color:#FF8A40;
    font-family: Playfair Display;
    font-size:10rem;
    font-weight: 600;
    line-height: 185px;
  }
  .para{
    color: white;
    width:25%;
  
  }
  .image img{
    position:absolute; 
  left: 50%;
  transform: translateX(-50%);
  width: 43%;
  margin-top:-30%;
  background:radial-gradient(orange 1%, black 60%);
  
  
  background-repeat: no-repeat;
  }
  
  .icons{
    font-size: large;
    display: grid;
    align-items: center; 
    grid-template-columns: 0.04fr 0.04fr 0.04fr 0.04fr 0.04fr;
  margin-top: 15%;
   
    
  }
  }
  



  
@media (1061px <= width <= 1179px) {


  .body{
    background-color: black;
 
  
  }
  .heading p{
    color: #D9D9D9;
    font-size: 3rem;
  
  }
  .heading1{
    color:#FF8A40;
    font-family: Playfair Display;
    font-size: 9rem;
    font-weight: 600;
    line-height: 180px;
  }
  .para{
    color: white;
    width:45%;
  
  }
  .image img{
    position:absolute; 
  left: 55%;
  transform: translateX(-50%);
  width: 43%;
  margin-top:-30%;
  background:radial-gradient(orange 1%, black 60%);
  
  
  background-repeat: no-repeat;
  }
  
  .icons{
    font-size: large;
    display: grid;
    align-items: center; 
    grid-template-columns: 0.04fr 0.04fr 0.04fr 0.04fr 0.04fr;
  margin-top: 15%;
   
    
  }
  }
  
@media (957px <= width <= 1060px) {

 
  .body{
    background-color: black;
  height: 49.3rem;
  }
  .heading p{
    color: #D9D9D9;
    font-size: 3rem;
  float: left;
  }
  .heading1{
    color:#FF8A40;
    font-family: Playfair Display;
    font-size: 8rem;
    font-weight: 600;
    line-height: 150px;
    float: left;
   
  }
  .para{
    color: white;
    width:95%;
  
  }
  .combo{
    position: absolute;
  height:rem;
    background-color: white;
    width:100%;
    margin-top: 21rem;
   
  }

  .image img{
    display: block;
margin-left: auto;
 margin-right: auto;         
  width: 53%;
  background:radial-gradient(orange 1%, black 60%);
  background-repeat: no-repeat;
  }
  
  .icons{
    font-size: 2rem;
   display: grid;
   grid-template-columns: 1fr fr 1fr 1fr 1fr ;
  height:4rem;
  color:black;
  margin-top: 3%;
  margin-left: 10%;
    
  }
  .button button{
    background-color: #000000;
    color:white;
    display: block;
   margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
  .icons{
    font-size: 2rem;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  height:4rem;
  color:black;
   
    
  }
  }
@media (825px <= width <= 956px) {

  .body{
    background-color: black;
  height: 48.5rem;
  }
  .heading p{
    color: #D9D9D9;
    font-size: 3rem;
  float: left;
  }
  .heading1{
    color:#FF8A40;
    font-family: Playfair Display;
    font-size: 7rem;
    font-weight: 600;
    line-height: 140px;
    float: left;
   
  }
  .para{
    color: white;
    width:95%;
  
  }
  .combo{
    position: absolute;
  height:rem;
    background-color: white;
    width:100%;
    margin-top: 21rem;
   
  }

  .image img{
    display: block;
margin-left: auto;
 margin-right: auto;         
  width: 53%;
  background:radial-gradient(orange 1%, black 60%);
  background-repeat: no-repeat;
  }
  
  .icons{
    font-size: 2rem;
   display: grid;
   grid-template-columns: 1fr fr 1fr 1fr 1fr ;
  height:4rem;
  color:black;
  margin-top: 3%;
  margin-left: 10%;
    
  }
  .button button{
    background-color: #000000;
    color:white;
    display: block;
   margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
  .icons{
    font-size: 2rem;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  height:4rem;
  color:black;
   
    
  }
  }

@media (710px <= width <= 824px) {

  .body{
    background-color: black;
  height: 46.7rem;
  }
  .heading p{
    color: #D9D9D9;
    font-size: 3rem;
  float: left;
  }
  .heading1{
    color:#FF8A40;
    font-family: Playfair Display;
    font-size: 5rem;
    font-weight: 600;
    line-height: 100px;
    float: left;
   
  }
  .para{
    color: white;
    width:55%;
  
  }
  .combo{
    position: absolute;
  height:rem;
    background-color: white;
    width:100%;
    margin-top: 19rem;
   
  }

  .image img{
    display: block;
margin-left: auto;
 margin-right: auto;         
  width: 63%;
  background:radial-gradient(orange 1%, black 60%);
  background-repeat: no-repeat;
  }
  
  .icons{
    font-size: 2rem;
   display: grid;
   grid-template-columns: 1fr fr 1fr 1fr 1fr ;
  height:4rem;
  color:black;
  margin-top: 3%;
  margin-left: 10%;
    
  }
  .button button{
    background-color: #000000;
    color:white;
    display: block;
   margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
  .icons{
    font-size: 2rem;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  height:4rem;
  color:black;
   
    
  }
  }







@media (686px <= width <= 709px) {

  .body{
    background-color: black;
  height: 46.7rem;
  }
  .heading p{
    color: #D9D9D9;
    font-size: 3rem;
  float: left;
  }
  .heading1{
    color:#FF8A40;
    font-family: Playfair Display;
    font-size: 5rem;
    font-weight: 600;
    line-height: 100px;
    float: left;
   
  }
  .para{
    color: white;
    width:55%;
  
  }
  .combo{
    position: absolute;
  height:rem;
    background-color: white;
    width:100%;
    margin-top: 19rem;
   
  }

  .image img{
    display: block;
margin-left: auto;
 margin-right: auto;         
  width: 63%;
  background:radial-gradient(orange 1%, black 60%);
  background-repeat: no-repeat;
  }
  
  .icons{
    font-size: 2rem;
   display: grid;
   grid-template-columns: 1fr fr 1fr 1fr 1fr ;
  height:4rem;
  color:black;
  margin-top: 3%;
  margin-left: 10%;
    
  }
  .button button{
    background-color: #000000;
    color:white;
    display: block;
   margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
  .icons{
    font-size: 2rem;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  height:4rem;
  color:black;
   
    
  }
  }

  @media (590px <= width <= 685px) {

    .body{
      background-color: black;
    height: 45rem;
    }
    .heading p{
      color: #D9D9D9;
      font-size: 3rem;
    float: left;
    }
    .heading1{
      color:#FF8A40;
      font-family: Playfair Display;
      font-size: 5rem;
      font-weight: 600;
      line-height: 100px;
      float: left;
     
    }
    .para{
      color: white;
      width:95%;
    
    }
    .combo{
      position: absolute;
    height:rem;
      background-color: white;
      width:100%;
      margin-top: 19rem;
     
    }
  
    .image img{
      display: block;
  margin-left: auto;
   margin-right: auto;         
    width: 70%;
    background:radial-gradient(orange 1%, black 60%);
    background-repeat: no-repeat;
    }
    
    .icons{
      font-size: 2rem;
     display: grid;
     grid-template-columns: 1fr fr 1fr 1fr 1fr ;
    height:4rem;
    color:black;
    margin-top: 3%;
    margin-left: 10%;
      
    }
    .button button{
      background-color: #000000;
      color:white;
      display: block;
     margin-top: 1rem;
      margin-left: auto;
      margin-right: auto;
    }
    .icons{
      font-size: 2rem;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    height:4rem;
    color:black;
     
      
    }
    }








































@media (480px <= width <= 589px) {

  .body{
    background-color: black;
  height: 47rem;
  }
  .heading p{
    color: #D9D9D9;
    font-size: 3rem;
  float: left;
  }
  .heading1{
    color:#FF8A40;
    font-family: Playfair Display;
    font-size: 5rem;
    font-weight: 600;
    line-height: 100px;
    float: left;
   
  }
  .para{
    color: white;
    width:95%;
  
  }
  .combo{
    position: absolute;
  height:8rem;
    background-color: white;
    width:100%;
    margin-top: 14.8rem;
   
  }

  .image img{
    display: block;
margin-left: auto;
 margin-right: auto;         
  width: 70%;
  background:radial-gradient(orange 1%, black 60%);
  background-repeat: no-repeat;
  }
  
  .icons{
    font-size: 2rem;
   display: grid;
   grid-template-columns: 1fr fr 1fr 1fr 1fr ;
  height:4rem;
  color:black;
  margin-top: 3%;
  margin-left: 10%;
    
  }
  .button button{
    background-color: #000000;
    color:white;
    display: block;
   margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
  .icons{
    font-size: 2rem;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  height:4rem;
  color:black;
   
    
  }
  }























@media (397px <= width <= 479px) {

  .body{
    background-color: black;
  height: 48.8rem;
  }
  .heading p{
    color: #D9D9D9;
    font-size: 3rem;
  float: left;
  }
  .heading1{
    color:#FF8A40;
    font-family: Playfair Display;
    font-size: 4.8rem;
    font-weight: 600;
    line-height: 100px;
    float: left;
   
  }
  .para{
    color: white;
    width:95%;
  
  }
  .combo{
    position: absolute;
  height:8rem;
    background-color: white;
    width:100%;
    margin-top: 14.8rem;
   
  }

  .image img{
    display: block;
margin-left: auto;
 margin-right: auto;         
  width: 70%;
  background:radial-gradient(orange 1%, black 60%);
  background-repeat: no-repeat;
  }
  
  .icons{
    font-size: 2rem;
   display: grid;
   grid-template-columns: 1fr fr 1fr 1fr 1fr ;
  height:4rem;
  color:black;
  margin-top: 3%;
  margin-left: 10%;
    
  }
  .button button{
    background-color: #000000;
    color:white;
    display: block;
   margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
  .icons{
    font-size: 2rem;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  height:4rem;
  color:black;
   
    
  }
  }

  @media (354px <= width <= 396px) {

    .body{
      background-color: black;
    height: 34.3rem;
    }
    .heading p{
      color: #D9D9D9;
      font-size: 1.5rem;
    float: left;
    }
    .heading1{
      color:#FF8A40;
      font-family: Playfair Display;
      font-size: 3rem;
      font-weight: 600;
      line-height: 57px;
      float: left;
     
    }
    .para{
      color: white;
      width:95%;
      font-size: small;
    
    }
    .combo{
      position: absolute;
    height:7.5rem;
      background-color: white;
      width:100%;
      margin-top: 13.3rem;
     
    }
  
    .image img{
      display: block;
  margin-left: auto;
   margin-right: auto;         
    width: 90%;
    background:radial-gradient(orange 1%, black 60%);
    background-repeat: no-repeat;
    }
    
    .icons{
      font-size: 2rem;
     display: grid;
     grid-template-columns: 1fr fr 1fr 1fr 1fr ;
    height:4rem;
    color:black;
    margin-top: 3%;
    margin-left: 10%;
      
    }
    .button button{
      background-color: #000000;
      color:white;
      display: block;
     margin-top: 1rem;
      margin-left: auto;
      margin-right: auto;
    }
    .icons{
      font-size: 2rem;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    height:4rem;
    color:black;
     
      
    }
    }
  
  
  
  
    @media (332px <= width <= 353px) {

      .body{
        background-color: black;
      height: 34.3rem;
      }
      .heading p{
        color: #D9D9D9;
        font-size: 1.5rem;
      float: left;
      }
      .heading1{
        color:#FF8A40;
        font-family: Playfair Display;
        font-size: 3rem;
        font-weight: 600;
        line-height: 55px;
        float: left;
       
      }
      .para{
        color: white;
        width:95%;
        font-size: small;
      
      }
      .combo{
        position: absolute;
      height:7.5rem;
        background-color: white;
        width:100%;
        margin-top: 10.2rem;
       
      }
    
      .image img{
        display: block;
    margin-left: auto;
     margin-right: auto;         
      width: 70%;
      background:radial-gradient(orange 1%, black 60%);
      background-repeat: no-repeat;
      }
      
      .icons{
        font-size: 2rem;
       display: grid;
       grid-template-columns: 1fr fr 1fr 1fr 1fr ;
      height:4rem;
      color:black;
      margin-top: 3%;
      margin-left: 10%;
        
      }
      .button button{
        background-color: #000000;
        color:white;
        display: block;
       margin-top: 1rem;
        margin-left: auto;
        margin-right: auto;
      }
      .icons{
        font-size: 2rem;
       display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
      height:4rem;
      color:black;
       
        
      }
      }
    
  
  
  
  
  
  
  
  
    







  




  @media (280px <= width <= 331px) {

    .body{
      background-color: black;
    height: 34.3rem;
    }
    .heading p{
      color: #D9D9D9;
      font-size: 1.5rem;
    float: left;
    }
    .heading1{
      color:#FF8A40;
      font-family: Playfair Display;
      font-size: 3rem;
      font-weight: 600;
      line-height: 55px;
      float: left;
     
    }
    .para{
      color: white;
      width:95%;
      font-size: small;
    
    }
    .combo{
      position: absolute;
    height:7.5rem;
      background-color: white;
      width:100%;
      margin-top: 8.6rem;
     
    }
  
    .image img{
      display: block;
  margin-left: auto;
   margin-right: auto;         
    width: 70%;
    background:radial-gradient(orange 1%, black 60%);
    background-repeat: no-repeat;
    }
    
    .icons{
      font-size: 2rem;
     display: grid;
     grid-template-columns: 1fr fr 1fr 1fr 1fr ;
    height:4rem;
    color:black;
    margin-top: 3%;
    margin-left: 10%;
      
    }
    .button button{
      background-color: #000000;
      color:white;
      display: block;
     margin-top: 1rem;
      margin-left: auto;
      margin-right: auto;
    }
    .icons{
      font-size: 2rem;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    height:4rem;
    color:black;
     
      
    }
    }
  
  
  
  
  
  
  
  
  
  
  
  
  
    







  