*{
   padding: 0%;
   margin: 0%;
   }
 
   .columns img{
 
   margin-left: 21%;
   }
   
   .columns p{
     font-size: small;
     font-family: Roboto
     ;
   }
   .columns{
     background-color:white;
    height:98%;
    width:50%;
   text-align: center;
   display: grid;
   margin-left: 10%;
   border-radius: 10%;
   
   
   }
   
   .contribution h1{
    text-align: center;
   }
   .row{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr ; 
   }
   
   .columns button{
      background-color:#6C3231;
      border-radius: 10%;
      color:white;

   }
   
   .row{

    overflow: auto;
    white-space: nowrap;
  }
  
  .columns {
    display: inline-block;
    
  }
  
   .contribution img{
    width:90%; margin-left: 5%;
   }
   
   @media (width >=1501px) {
   
     .row{
       display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
         row-gap: 10px;
         height:30vw;
         
           }
           .columns img{
           width:11rem;
             display: grid;
          
           
           }
           .quotes{
             display: grid;
           }
     
           }
           
   
   @media (1150px <= width <=1500px) {
   
     .row{
       display: grid;
    
      grid-template-columns: 1fr 1fr 1fr 1fr ;
         row-gap: 10px;
         height:30vw;
         
           }
           .columns img{
             width: 40%;
             display: grid;
          
           
           }
           .quotes{
             display: grid;
           }
     
           }
   
   @media (901px <= width <= 1149px) {
     .row{
       display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
         row-gap: 10px;
         height:40vw;
         
         
           }
           .columns img{
             width: 50%;
             display: grid;
          
           
           }
           .quotes{
             display: grid;
           }
     
           }
   
   @media (700px <= width <= 900px) {
   
     .row{
       background-size: cover;
       display: flex;
       margin-left: 15%;
    
    }
    .columns{
     margin-left: 4vw;
    
      }
      .columns img{
       margin-left: 21vw;
       width:30%;
    
      }
      .columns p{
   
        text-align: center;
      }
     
      }
   
   
   
   @media (611px <= width <= 699px) {
   
     .row{
       background-size: cover;
       display: flex;
       margin-left: 15%;
    
    }
    .columns{
     margin-left: 4vw;
    
      }
      .columns img{
       margin-left: 21vw;
       width:30%;
    
      }
      .columns p{
   
        text-align: center;
      }
     
      }
   
   @media (550px <= width <= 610px) {
   
     .row{
       background-size: cover;
       display: flex;
       
    }
    .columns{
     margin-left: 4vw;

    
      }
      .columns img{
       margin-left: 21vw;
       width:30%;
      
      }
      .columns p{
   
        text-align: center;
        
      }
     
      }
   
   @media (420px <= width <= 549px) {
   
     .row{
       background-size: cover;
       display: flex;
       margin-left: 15%;
    
    }
    .columns{
     margin-left: 4vw;
    
      }
      .columns img{
       margin-left: 21vw;
       width:30%;
    
      }
      .columns p{
   
        text-align: center;
      }
     
      }
   
   @media (341px <= width <= 419px) {
   
   
     .row{
       background-size: cover;
       display: flex;
       margin-left: 15%;

    
    }
    .columns{
     margin-left: 4vw;
   
    
      }
      .columns img{
       margin-left: 21vw;
       width:30%;
    
      }
      .columns p{
   
        text-align: center;
      }
     
      }
   
    
   
   
   @media (280px <= width <= 340px) {
   
     .row{
       background-size: cover;
       display: flex;
       margin-left: 15%;
    
    }
    .columns{
      margin-left: 4vw;
   
    
      }
      .columns img{
        margin-left: 21vw;
        width:30%;
    
      }
      .columns p{
       
        text-align: center;
      }
     
      }