*{
  padding: 0%;
  margin: 0%;
  overflow-x: hidden;
  }
  .Analogy-row2{

display: grid;
grid-template-rows: 0.1fr 0.5fr 0.5fr;
  }
 
  
  .Analogy-column2 p{
    font-size: small;
    font-family: Roboto;
    
  }
  .Analogy-column2{
    background-color: 
  white;
   width:70%;
  text-align: center;
  height:max-content;
margin-top: 10%;
 border-radius: 1rem;
 border-style: solid;
 border-color:black;
display: grid;

  
  
  }
  .quotes{
    display: grid;
  }
  .Analogy-column2 button{
    background-color:rgba(108, 50, 49, 1);
    width:100%;
    height: 10%;
    border-radius: 1%;
    color: white;
    text-align: center;
    justify-content: center;
    display: flex;
  }
  
  .Analogy-column2 img{
    width:100%;

  }
  
  @media (4001px <= width <=5000px) {
  
    .Analogy-row2{
      display: grid;
     grid-template-rows: 70em;
     grid-template-columns: 5fr 5fr 5fr ;
   
     
    
     
          }
          
      .Analogy-column2{
       display:block;
       margin-left: auto;
       margin-right: auto;
      }
    }
  @media (3001px <= width <=4000px) {
  
    .Analogy-row2{
      display: grid;
     grid-template-rows: 70em;
     grid-template-columns: 5fr 5fr 5fr ;
     height:85rem;
     
    
     
          }
          
      .Analogy-column2{
       display:block;
       margin-left: auto;
       margin-right: auto;
      }
    }

  
  
  @media (2501px <= width <=3000px) {
  
    .Analogy-row2{
      display: grid;
     grid-template-rows: 55em;
     grid-template-columns: 5fr 5fr 5fr ;
     height:66rem;
     
    
     
          }
          
      .Analogy-column2{
       display:block;
       margin-left: auto;
       margin-right: auto;
      }
    }


          @media (2101px <= width <=2500px) {
  
            .Analogy-row2{
             display: grid;
            grid-template-rows: 48em;
            grid-template-columns: 5fr 5fr 5fr ;
            height:58rem;
            
           
            
                 }
                 
             .Analogy-column2{
              display:block;
              margin-left: auto;
              margin-right: auto;
             }
                        
                
           
               }

          
          @media (1701px <= width <=2100px) {
  
            .Analogy-row2{
             display: grid;
            grid-template-rows: 42em;
            grid-template-columns: 5fr 5fr 5fr ;
            height:53rem;
            
           
            
                 }
                 
             .Analogy-column2{
              display:block;
              margin-left: auto;
              margin-right: auto;
             }
                        
                
           
               }
                 
  
  
  
  @media (1501px <= width <=1700px) {
  
     .Analogy-row2{
      display: grid;
     grid-template-rows: 35em;
     grid-template-columns: 5fr 5fr 5fr ;
     height:45rem;
     
    
     
          }
          
      .Analogy-column2{
       display:block;
       margin-left: auto;
       margin-right: auto;
      }
                 
         
    
        }
          
  
  @media (1150px <= width <=1500px) {
  
    .Analogy-row2{
      display: grid;
     grid-template-rows: 33em;
     grid-template-columns: 5fr 5fr 5fr ;
  height:43rem;

    
     
          }
          
      .Analogy-column2{
       display:block;
       margin-left: auto;
       margin-right: auto;
      }
                 
         
    
        }
          
        
  
  @media (901px <= width <= 1149px) {
    .Analogy-row2{
      display: grid;
     grid-template-rows: 33em;
     grid-template-columns: 5fr 5fr 5fr ;
     height:41rem;
 
    
     
          }
          
      .Analogy-column2{
       display:block;
       margin-left: auto;
       margin-right: auto;
      }
                 
         
    
    }
  
  
  @media (700px <= width <= 900px) {
 
    .Analogy-row2{
      display: grid;
     grid-template-rows: 25em;
     grid-template-columns: 5fr 5fr 5fr ;
    height:43rem;

   
     
          }
          
      .Analogy-column2{
       display:block;
       margin-left: auto;
       margin-right: auto;
       width:90%;
      
       
      }
                 
         
    
        }
    
     
  
  
  
  @media (611px <= width <= 699px) {
  
    .Analogy-row2{
      background-size: cover;
      display: flex;
     flex-direction: column;
     row-gap: 1em;
     
   
   }
   .Analogy-column2{
        display: block;
        margin-left: auto;
        margin-right: auto;
      width:50%;
      
        
        
   
     }
     .Analogy-column2 img{
      height:15rem;
     }
     
     
     
    
     }
  
  
  @media (550px <= width <= 610px) {
  
    .Analogy-row2{
      background-size: cover;
      display: flex;
     flex-direction: column;
     row-gap: 1em;
     
   
   }
   .Analogy-column2{
        display: block;
        margin-left: auto;
        margin-right: auto;
      
        
        
   
     }
     .Analogy-column2 img{
      height:15rem;
     }
     
     
     
    
    }
  
  
  @media (420px <= width <= 549px) {
  
    .Analogy-row2{
      background-size: cover;
      display: flex;
     flex-direction: column;
     row-gap: 1em;
     
   
   }
   .Analogy-column2{
        display: block;
        margin-left: auto;
        margin-right: auto;
      
        
        
   
     }
     .Analogy-column2 img{
      height:15rem;
     }
     
     
     
    
     }
  
  @media (341px <= width <= 419px) {
  
    .Analogy-row2{
      background-size: cover;
      display: flex;
     flex-direction: column;
     row-gap: 1em;
     
   
   }
   .Analogy-column2{
        display: block;
        margin-left: auto;
        margin-right: auto;
      
        
        
   
     }
     .Analogy-column2 img{
      height:15rem;
     }
     
     
     
    
    }
   
  
  
  @media (280px <= width <= 340px) {
    .Analogy-row2{
      background-size: cover;
      display: flex;
     flex-direction: column;
     row-gap: 1em;
     
   
   }
   .Analogy-column2{
        display: block;
        margin-left: auto;
        margin-right: auto;
      
        
        
   
     }
     .Analogy-column2 img{
      height:15rem;
     }
     
     
     
    
    }
     
     

    