
  
             *{
                padding: 0%;
                margin: 0%;
                }
                
                .main-column2 img{
              
               margin-left: auto;
               margin-right: auto;
               width: 100%;
                }
                
                .main-column2 p{
                  font-size: small;
                  font-family: Roboto
                  ;
                }
                .main-column2{
                  background-color: 
                white;
                 height:98%;
                 width:70%;
                text-align: center;
                display: grid;
                margin-left: 10%;
               border-radius: 1%;
               border-style: solid;
               border-color:black;
              
                
                
                }
                
                
                .main-row2{
                  display: grid;
                  grid-template-columns: 1fr 1fr 1fr 1fr ; 
                
                }
                
                
                @media (2501px <= width <=9500px) {
                
                  .main-row2{
                    display: grid;
                   grid-template-rows: 1fr;
                   grid-template-columns: 1fr 1fr 1fr 1fr;
                      row-gap: 10px;
                      height:20vw;
                      
                        }
                        .main-column2 img{
                          width: 50%;
                          display: grid;
                       
                        
                        }
                        .main-quotes{
                          display: grid;
                        }
                        .main-column2 button{
                          background-color: black;
                          width:70%;
                          height: 70%;
                          margin-left: 15%;
                          border-radius: 1%;
                          color: white;
            
                        }
                  
                        }
                        
                
                
                
                @media (1501px <= width <=2500px) {
                
                  .main-row2{
                    display: grid;
                   grid-template-rows: 1fr;
                   grid-template-columns: 1fr 1fr 1fr 1fr;
                      row-gap: 10px;
                      height:20vw;
                   
                      
                        }
                        .main-column2 img{
                          width: 50%;
                          display: grid;
                       
                        
                        }
                        .main-quotes{
                          display: grid;
                        }
                        .main-column2 button{
                          background-color: black;
                          width:70%;
                          height: 70%;
                          margin-left: 15%;
                          border-radius: 1%;
                          color: white;
            
                        }
                  
                        }
                        
                
                @media (1150px <= width <=1500px) {
                
                  .main-row2{
                    display: grid;
                   grid-template-rows: 1fr;
                   grid-template-columns: 1fr 1fr 1fr 1fr;
                      row-gap: 10px;
                      height:25vw;
                   
                      
                        }
                        .main-column2 img{
                          width: 50%;
                          display: grid;
                       
                        
                        }
                        .main-quotes{
                          display: grid;
                        }
                        .main-column2 button{
                          background-color: black;
                          width:70%;
                          height: 70%;
                          margin-left: 15%;
                          border-radius: 1%;
                          color: white;
            
                        }
                  
                        }
                        
                      
                
                @media (901px <= width <= 1149px) {
                  .main-row2{
                    display: grid;
                   grid-template-rows: 1fr;
                   grid-template-columns: 1fr 1fr 1fr 1fr;
                      row-gap: 10px;
                      height:31vw;
                   
                      
                        }
                        .main-column2 img{
                          width: 50%;
                          display: grid;
                       
                        
                        }
                        .main-quotes{
                          display: grid;
                        }
                        .main-column2 button{
                          background-color: black;
                          width:70%;
                          height: 80%;
                          margin-left: 15%;
                          border-radius: 1%;
                          color: white;
            
                        }
                   }
                
                
                
                @media (700px <= width <= 900px) {
                
                  .main-row2{
                    background-size: cover;
                    display: flex;
                   
                    width:190%;
                  
                 
                 }
                 .main-column2{
                  margin-left: 6vw;
                  height:39vw;
                  margin-top: 10vw;
                 
                   }
                   .main-column2 img{
                   margin-left: 0.8vw;
                    width:100%;
                    height:15vw;
                 
                   }
                   .main-column2 p{
                   
                     text-align: center;
                   }
                   .main-column2 button{
                    background-color: black;
                    width:70%;
                    height: 90%;
                    margin-left: 15%;
                    border-radius: 1%;
                    color: white;
            
                  }
                  
                   }
                
                
                
                @media (611px <= width <= 699px) {
                
                  .main-row2{
                    background-size: cover;
                    display: flex;
                   flex-direction: column;
                    width:110%;
                 
                 }
                 .main-column2{
                 
                  height:64vw;
                  margin-top: 10vw;
                 
                   }
                   
                   .main-column2 img{
               
                    width:60%;
                    height:25vw;
                 
                   }
                   .main-column2 p{
                   
                     text-align: center;
                   }
                   .main-column2 button{
                    background-color: black;
                    width:70%;
                    height: 100%;
                    margin-left: 15%;
                    border-radius: 1%;
                    color: white;
            
                  }
                   }
                
                
                @media (550px <= width <= 610px) {
                
                  .main-row2{
                    background-size: cover;
                    display: flex;
                   flex-direction: column;
                    width:110%;
                 
                 }
                 .main-column2{
                 
                  height:54vw;
                  margin-top: 10vw;
                 
                   }
                   
                   .main-column2 img{
               
                    width:60%;
                    height:25vw;
                 
                   }
                   .main-column2 p{
                   
                     text-align: center;
                   }
                   .main-column2 button{
                    background-color: black;
                    width:70%;
                    height: 100%;
                    margin-left: 15%;
                    border-radius: 1%;
                    color: white;
            
                  }
                   
                
                   }
                
                
                @media (420px <= width <= 549px) {
                
                  .main-row2{
                    background-size: cover;
                    display: flex;
                   flex-direction: column;
                    width:110%;
                 
                 }
                 .main-column2{
                 
                  height:64vw;
                  margin-top: 10vw;
                 
                   }
                   
                   .main-column2 img{
               
                    width:60%;
                    height:25vw;
                 
                   }
                   .main-column2 p{
                   
                     text-align: center;
                   }
                   .main-column2 button{
                    background-color: black;
                    width:70%;
                    height: 100%;
                    margin-left: 15%;
                    border-radius: 1%;
                    color: white;
            
                  }
                   }
                
                @media (341px <= width <= 419px) {
                
                  .main-row2{
                    background-size: cover;
                    display: flex;
                   flex-direction: column;
                    width:110%;
                 
                 }
                 .main-column2{
                  margin-left: vw;
                  height:84vw;
                  margin-top: 10vw;
                 
                   }
                   
                   .main-column2 img{
               
                    width:60%;
                    height:25vw;
                 
                   }
                   .main-column2 p{
                   
                     text-align: center;
                   }
                   .main-column2 button{
                    background-color: black;
                    width:70%;
                    height: 100%;
                    margin-left: 15%;
                    border-radius: 1%;
                    color: white;
            
                  }
                  
                   }
                
                 
                
                
                @media (280px <= width <= 340px) {
                
                  .main-row2{
                    background-size: cover;
                    display: flex;
                   flex-direction: column;
                    width:110%;
                 
                 }
                 .main-column2{
                  margin-left: vw;
                  height:84vw;
                  margin-top: 10vw;
                 
                   }
                   
                   .main-column2 img{
               
                    width:60%;
                    height:25vw;
                 
                   }
                   .main-column2 p{
                   
                     text-align: center;
                   }
                   .main-column2 button{
                    background-color: black;
                    width:70%;
                    height: 100%;
                    margin-left: 15%;
                    border-radius: 1%;
                    color: white;
            
                  }
                   }
    