.search{
    
width: 100%;

    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-container{

    width: 30rem;
    height: 80px;
    position: relative;
   
}
.input{
    width: 100%;
    height: 60px;
    border-radius: 30rem;
    display: block;
    font-size: 30px;
    padding-left: 40px;
    border-style: solid;
    border-color: none;
    
}
.button{
    position: absolute;
    top: 0%;
right:0%;
  width: 3rem;
  height: 3rem;
  border-radius: 10rem;
border-style: solid;

margin-right:1rem;
margin-top: 0.3rem;
  background-color: black;
    color: white;
}
