   
    .Recently-column2 p{
      font-size: small;
      font-family: Roboto;

      
    }
   .Recently-column2{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width:68%;

   }
    .Recently-row2{
      height:30rem;

      margin-left: auto;
      margin-right: auto;
    }
    .quotes{
      display: grid;
    }
    .Recently-column2 button{
      background-color:rgba(108, 50, 49, 1);
      width:100%;
      height: 10%;
      border-radius: 1%;
      color: white;
      text-align: center;
      justify-content: center;
     
      
    }
    div.video{
      background-color:white;
      height: 30rem;
    
    }
    
   
.reference-para{
  float: left;
  width: 50%;
}

.ref-buttons{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
grid-template-columns: repeat(n, 1fr);
    gap: 10px;

  float: right;
}
.reference{
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: gray;
  margin: 1%;
  
  
}
.reference video{
 display:flex;
 justify-content: center;
 text-align: center;
 margin-top: 3%;

 }
 .divine{
 text-align: center;

 margin-top: 5%;
 margin: 2%;
 
 }
 .divine h1{
  float: left;
  width: 30%;
  text-align: left;

  
}
.divine p{
  float: right;
  width: 51%;
text-align: left;

}
.journey{
 
  margin: 2%;
}

.journey p{
  width: 40%;
}
.journey h3{
  width: 40%;
}

.who-img{
  display: flex;
 justify-content: center;
margin-top: 5%;
margin: 2%;

}
.eleven-years{
  text-align: center;
  border-style: solid;
  border-color: gray;
  margin-top: 5%;
  margin: 2%;

}
.guiding{
 
  margin: 2%;
}
.objective{
 
  margin: 2%;

}
.earlylife{
  margin: 2%;
}
.recent{
  background-color: black;
  margin: 2%;
  color:white;
  overflow-x: hidden;
}
.added{
  margin: 2%;
  display:flex;
  
}
.added button{
  width: max-content;
margin-left: auto;
border-radius: 10%;

}
.Recently-column2{
  margin-top: 8%;
  border-style: solid;
 border-color: white;
 color:white;
 background-color: black;
 display: flex;
 align-items: flex-end;
 justify-content: center;
 flex-wrap: wrap;
height:90%;
}
.Recently-column2 button{ 
  background-color: #FF8A40;
 
  }


@media (8001px <= width <=9999px) {
  .video{
    width: 100%;
   display:flex;
   justify-content: center;
   text-align: center;
   }
   .journey{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
   }
     .journey h3{
      width: 90%;
    
     }
     .journey p{
      width: 100%;
    
     }
     .world{
      display: grid;
      grid-template-columns: 1fr 1fr;

     }
     .world-para {
    display: grid  ;
    grid-template-rows: 1fr 1fr 1fr;
    float: right;

  
     }
     .world-para p{
      width: 80%;
  
     }

 .world-para button{
      width: 40%;
      height: 40%;
      background-color: #FF8A40;
  
     }
     .Recently-row2{
      display: grid;
     grid-template-rows: 70em;
     grid-template-columns: 5fr 5fr 5fr ;
   
     
    
     
          }
          
      .Recently-column2{
       display:block;
       margin-left: auto;
       margin-right: auto;
      }
  
}


@media (6001px <= width <=8000px) {
  .video{
    width: 100%;
   display:flex;
   justify-content: center;
   text-align: center;
   }
   .journey{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
   }
     .journey h3{
      width: 90%;
    
     }
     .journey p{
      width: 100%;
    
     }
     .world{
      display: grid;
      grid-template-columns: 1fr 1fr;

     }
     .world-para {
    display: grid  ;
    grid-template-rows: 1fr 1fr 1fr;
    float: right;

  
     }
     .world-para p{
      width: 80%;
  
     }

 .world-para button{
      width: 40%;
      height: 40%;
      background-color: #FF8A40;
  
     }
    
  
}



  
@media (5001px <= width <=6000px) {
 
  .video{
    width: 100%;
   display:flex;
   justify-content: center;
   text-align: center;
   }
   .journey{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
   }
     .journey h3{
      width: 90%;
    
     }
     .journey p{
      width: 100%;
    
     }
     .world{
      display: grid;
      grid-template-columns: 1fr 1fr;

     }
     .world-para {
    display: grid  ;
    grid-template-rows: 1fr 1fr 1fr;
    float: right;

  
     }
     .world-para p{
      width: 80%;
  
     }

 .world-para button{
      width: 40%;
      height: 40%;
      background-color: #FF8A40;
  
     }
    
  

}
@media (4001px <= width <=5000px) {

  .video{
    width: 100%;
   display:flex;
   justify-content: center;
   text-align: center;
   }
   .journey{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
   }
     .journey h3{
      width: 90%;
    
     }
     .journey p{
      width: 100%;
    
     }.world{
      display: grid;
      grid-template-columns: 1fr 1fr;

     }
     .world-para {
    display: grid  ;
    grid-template-rows: 1fr 1fr 1fr;
    float: right;

  
     }
     .world-para p{
      width: 80%;
  
     }

 .world-para button{
      width: 40%;
      height: 40%;
      background-color: #FF8A40;
  
     }
  
  

}

@media (2501px <= width <=4000px) {
  .video{
    width: 100%;
   display:flex;
   justify-content: center;
   text-align: center;
   }
   .journey{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
   }
     .journey h3{
      width: 90%;
    
     }
     .journey p{
      width: 100%;
    
     }
     .world{
      display: grid;
      grid-template-columns: 1fr 1fr;

     }
     .world-para {
    display: grid  ;
    grid-template-rows: 1fr 1fr 1fr;
    float: right;

  
     }
     .world-para p{
      width: 80%;
  
     }

 .world-para button{
      width: 40%;
      height: 40%;
      background-color: #FF8A40;
  
     }
    
  
   }

@media (1901px <= width <=2500px) {
 

  .video{
    width: 100%;
   display:flex;
   justify-content: center;
   text-align: center;
   }
   .journey{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
   }
     .journey h3{
      width: 90%;
    
     }
     .journey p{
      width: 100%;
    
     }
     .world{
      display: grid;
      grid-template-columns: 1fr 1fr;

     }
     .world-para {
    display: grid  ;
    grid-template-rows: 1fr 1fr 1fr;
    float: right;

  
     }
     .world-para p{
      width: 80%;
  
     }

 .world-para button{
      width: 40%;
      height: 40%;
      background-color: #FF8A40;
  
     }
    
  
 
   }
@media (1501px <= width <=1900px) {
 
 
  .video iframe{
    width:60%;
    height:415px;
   display:flex;
   justify-content: center;
   text-align: center;
   }
   .journey{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
   }
     .journey h3{
      width: 90%;
    
     }
     .journey p{
      width: 100%;
    
     }
     .world{
      display: grid;
      grid-template-columns: 1fr 1fr;

     }
     .world-para {
    display: grid  ;
    grid-template-rows: 1fr 1fr 1fr;
    float: right;

  
     }
     .world-para p{
      width: 80%;
  
     }

 .world-para button{
      width: 40%;
      height: 40%;
     
  
     }
     .Recently-row2{
      background-color: black;
      display: grid;
     grid-template-rows: 25em;
     grid-template-columns: 1fr 1fr 1fr ;
     }
          
      .column2{
       display:block;
       margin-left: auto;
       margin-right: auto;
   


 

}
  
  
   }
  
  @media (1150px <= width <=1500px) {
  
   

    .reference-para{
      float: left;
    }
    
    .reference{
      margin-left: auto;
      margin-right: auto;
    
    }
    .video{
      width: 100%;
     display:flex;
     justify-content: center;
     text-align: center;
     background-color: aqua;

     }
   .journey{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
   }
     .journey h3{
      width: 90%;
    
     }
     .journey p{
      width: 100%;
    
     }
     .world{
      display: grid;
      grid-template-columns: 1fr 1fr;

     }
     .world-para {
    display: grid  ;
    grid-template-rows: 1fr 1fr 1fr;
    float: right;

  
     }
     .world-para p{
      width: 80%;
  
     }

 .world-para button{
      width: 40%;
      height: 40%;
      background-color: #FF8A40;
  
     }
     .Recently-row2{
      background-color: black;
      display: grid;
     grid-template-rows: 25em;
     grid-template-columns: 1fr 1fr 1fr ;
     }
          
      .column2{
       display:block;
       margin-left: auto;
       margin-right: auto;


 

}

}
  @media (901px <= width <= 1149px) {
   
   
    .Recently-row{
    display:flex;
    
    }
    .ref-buttons{
      width: 90%;
      
          }
          .video{
            width: 100%;
           display:flex;
           justify-content: center;
           text-align: center;
           }
           .objective{
            text-align: center;
           }
           .guiding{
            text-align: center;
           }
           .journey{
            text-align: center;
           justify-content:center;
           }
           .journey p
          {
        width: 100%;
           }
           .journey h3{
            width: 100%;
            text-align: center;
           }
           .journey img{
            display:block;
            margin-left: auto;
            margin-right: auto;

           }
           .earlylife{
            text-align: center;
           }
           .divine{
        
        display: flex;
        flex-direction: column;
        
           }
           .divine p{
            width: 100%;
            text-align: center;
           }
           .divine h1{
            width: 100%;
            text-align: center;
           }
          .journey img{
            width: 50%;
           display: flex;
           justify-content: center;
           align-items: center;

          }
          .world{
            display: grid;
            grid-template-columns: 1fr 1fr;
      
           }
           .world-para {
          display: grid  ;
          grid-template-rows: 1fr 1fr 1fr;
          float: right;
      
        
           }
           .world-para p{
            width: 90%;
        
           }
      
       .world-para button{
            width: 40%;
            height: 40%;
            background-color: #FF8A40;
        
           }
           .world img{
            width: 90%;

           }
           .Recently-row2{
            background-color: black;
            display: grid;
           grid-template-rows: 25em;
           grid-template-columns: 1fr 1fr 1fr ;
           }
                
            .column2{
             display:block;
             margin-left: auto;
             margin-right: auto;
      width: 90%;
      
        margin-top: 8%;
        border-style: solid;
       border-color: white;
       color:white;
       background-color: black;
      
      }
      .Recently-column2 button{ 
        background-color: #FF8A40;
        }
          
}



  @media (700px <= width <= 900px) {
   
    .reference{
      display: flex;
      flex-direction: column;
      text-align: center;
  
     }
      
      .ref-buttons{
        width: 40rem;
        
            }
            .video{
              width: 100%;
             display:flex;
             justify-content: center;
             text-align: center;
             }
             .objective{
              text-align: center;
             }
             .guiding{
              text-align: center;
             }
             .journey{
              text-align: center;
             justify-content:center;
             }
             .journey p
            {
          width: 100%;
             }
             .journey h3{
              width: 100%;
              text-align: center;
             }
             .journey img{
              display:block;
              margin-left: auto;
              margin-right: auto;

             }
             .earlylife{
              text-align: center;
             }
             .divine{
          
          display: flex;
          flex-direction: column;
          
             }
             .divine p{
              width: 100%;
              text-align: center;
             }
             .divine h1{
              width: 100%;
              text-align: center;
             }
            .journey img{
              width: 50%;
             display: flex;
             justify-content: center;
             align-items: center;

            }
            .world{
              display: grid;
              grid-template-columns: 1fr 1fr;
        
             }
             .world-para {
            display: grid  ;
            grid-template-rows: 1fr 2.3fr 1fr;
            float: right;
        
          
             }
             .world-para p{
              width: 90%;
              margin-left: auto;
              margin-right: auto;
          text-align: center;
             }
             .world-para h3{
              text-align: center;
              margin-left: auto;
              margin-right: auto;
          font-size: larger;
             }
        
         .world-para button{
              width: 40%;
              height: 50%;
              margin-left: auto;
              margin-right: auto;
              background-color: #FF8A40;
          
             }
             .world img{
              width: 90%;
              height: 90%;
             }
             .Recently-row2{
             display: flex;
             
             }
             .column2{
              height: 23rem;
             }

             .Recently-column2 button{
             margin-top: auto;
             }
             .Recently-row2{
height: 35rem;
             }
   
  }


  @media (611px <= width <= 699px) {
  
   
   
   .reference{
    display: flex;
    flex-direction:column;
  }
     .reference-para{
  width: 100%;
  text-align: center;
     }
     .ref-buttons{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   
   
     }
     
     .video{
      width: 100%;
     display:flex;
     justify-content: center;
     text-align: center;
     }
     .objective{
      text-align: center;
     }
     .guiding{
      text-align: center;
     }
     .journey{
      text-align: center;
     justify-content:center;
     }
     .journey p
    {
  width: 100%;
     }
     .journey h3{
      width: 100%;
      text-align: center;
     }
     .earlylife{
      text-align: center;
     }
     .divine{
  
  display: flex;
  flex-direction: column;
  
     }
     .divine p{
      width: 100%;
      text-align: center;
     }
     .divine h1{
      width: 100%;
      text-align: center;
     }
    .journey img{
      width: 100%;
    }
    .world{
      text-align: center;

     }
     .world-para {
    display: grid  ;
    grid-template-rows: 1fr 2.3fr 1fr;
    float: right;

  
     }
     .world-para p{
      width: 90%;
  
     }
     .world-para h3{
 
  font-size: 30px;
     }

 .world-para button{
      width: 60%;
      height: 75%;
      background-color: #FF8A40;
      margin-left: auto;
      margin-right: auto;
  
     }
     .world img{
      width: 90%;
      height: 95%;

     }
     .Recently-column2{
      margin-left: auto;
      margin-right: auto;
     }
  }
  @media (550px <= width <= 610px) {
   
    
   
     .reference{
      display: flex;
      flex-direction:column;
    }
       .reference-para{
    width: 80%;
    text-align: center;
       }
       .ref-buttons{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     
     
       }
       .video{
        width: 100%;
       display:flex;
       justify-content: center;
       text-align: center;
       }
       .objective{
        text-align: center;
       }
       .guiding{
        text-align: center;
       }
       .journey{
        text-align: center;
       justify-content:center;
       }
       .journey p
      {
    width: 100%;
       }
       .journey h3{
        width: 100%;
        text-align: center;
       }
       .earlylife{
        text-align: center;
       }
       .divine{
    
    display: flex;
    flex-direction: column;
    
       }
       .divine p{
        width: 100%;
        text-align: center;
       }
       .divine h1{
        width: 100%;
        text-align: center;
       }
      .journey img{
        width: 100%;
      }
   
      .world{
        text-align: center;
  
       }
       .world-para {
      display: grid  ;
      grid-template-rows: 1fr 2.3fr 1fr;
      float: right;
  
    
       }
       .world-para p{
        width: 100%;
    
       }
       .world-para h3{
   
    font-size: 25px;
       }
  
   .world-para button{
        width: 60%;
        height: 75%;
        background-color: #FF8A40;
        margin-left: auto;
        margin-right: auto;
    
       }
       .world img{
        width: 90%;
        height: 95%;
  
       }
       .Recently-column2{
        margin-left: auto;
        margin-right: auto;
       }
    }
  
  @media (420px <= width <= 549px) {
   
    .reference{
      display: flex;
      flex-direction:column;
    }
       .reference-para{
    width: 80%;
    text-align: center;
       }
       .ref-buttons{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     
     
       }
       .video{
        width: 100%;
       display:flex;
       justify-content: center;
       text-align: center;
       }
       .objective{
        text-align: center;
       }
       .guiding{
        text-align: center;
       }
       .journey{
        text-align: center;
       justify-content:center;
       }
       .journey p
      {
    width: 100%;
       }
       .journey h3{
        width: 100%;
        text-align: center;
       }
       .earlylife{
        text-align: center;
       }
       .divine{
    
    display: flex;
    flex-direction: column;
    
       }
       .divine p{
        width: 100%;
        text-align: center;
       }
       .divine h1{
        width: 100%;
        text-align: center;
       }
      .journey img{
        width: 100%;
      }
      .world{
        text-align: center;
  
       }
       .world-para {
      display: grid  ;
      grid-template-rows: 1fr 2.3fr 1fr;
      float: right;
  
    
       }
       .world-para p{
        width: 100%;
    
       }
       .world-para h3{
   
    font-size: 25px;
       }
  
   .world-para button{
        width: 60%;
        height: 75%;
        background-color: #FF8A40;
        margin-left: auto;
        margin-right: auto;
    
       }
       .world img{
        width: 90%;
        height: 95%;
  

       }
.Recently-column2{
margin-left: auto;
margin-right: auto;
width: 80%;
   }    
  }
  @media (341px <= width <= 419px) {
   
    
     .reference{
      display: flex;
      flex-direction:column;
    }
       .reference-para{
    width: 80%;
    text-align: center;
       }
       .ref-buttons{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     
     
       }
       .video{
        width: 100%;
       display:flex;
       justify-content: center;
       text-align: center;
       }
       .objective{
        text-align: center;
       }
       .guiding{
        text-align: center;
       }
       .journey{
        text-align: center;
       justify-content:center;
       }
       .journey p
      {
    width: 100%;
       }
       .journey h3{
        width: 100%;
        text-align: center;
       }
       .earlylife{
        text-align: center;
       }
       .divine{
    
    display: flex;
    flex-direction: column;
    
       }
       .divine p{
        width: 100%;
        text-align: center;
       }
       .divine h1{
        width: 100%;
        text-align: center;
       }
      .journey img{
        width: 100%;
      }
      .world{
        text-align: center;
  
       }
       .world-para {
      display: grid  ;
      grid-template-rows: 1fr 2.3fr 1fr;
      float: right;
  
    
       }
       .world-para p{
        width: 100%;
    
       }
       .world-para h3{
   
    font-size: 25px;
       }
  
   .world-para button{
        width: 60%;
        height: 75%;
        background-color: #FF8A40;
        margin-left: auto;
        margin-right: auto;
    
       }
       .world img{
        width: 90%;
        height: 95%;
  
       }
       .Recently-column2{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
           }
           .Recently-column2 p{
            text-align: center;
          width: 80%;
           }
           .Recently-column2 h5{
             font-size: medium;
             margin-left: auto;
             margin-right: auto;
           }
  }
  
  @media (280px <= width <= 340px) {
   
   

.reference{
  display: flex;
  flex-direction:column;
}
   .reference-para{
width: 100%;
text-align: center;
   }
   .ref-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
 
   }
   .video{
    width: 100%;
   display:flex;
   justify-content: center;
   text-align: center;
   }
   .objective{
    text-align: center;
   }
   .guiding{
    text-align: center;
   }
   .journey{
    text-align: center;
   justify-content:center;
   }
   .journey p
  {
width: 100%;
   }
   .journey h3{
    width: 100%;
    text-align: center;
   }
   .earlylife{
    text-align: center;
   }
   .divine{

display: flex;
flex-direction: column;

   }
   .divine p{
    width: 100%;
    text-align: center;
   }
   .divine h1{
    width: 100%;
    text-align: center;
   }
  .journey img{
    width: 100%;
  }
  .world{
    text-align: center;

   }
   .world-para {
  display: grid  ;
  grid-template-rows: 1fr 2.3fr 1fr;
  float: right;


   }
   .world-para p{
    width: 100%;

   }
   .world-para h3{

font-size: 25px;
   }

.world-para button{
    width: 60%;
    height: 75%;
    background-color: #FF8A40;
    margin-left: auto;
    margin-right: auto;

   }
   .world img{
    width: 90%;
    height: 95%;

   }


   .Recently-column2{
   
width: 100%;

   }
   .Recently-column2 p{
   text-align: center;
 width: 80%;
  }
  .Recently-column2 h5{
    font-size: medium;
    margin-left: auto;
    margin-right: auto;
  }
}
  @media (162px <= width <= 279px) {
   
   
    .objective{
      text-align: center;

     }
     .guiding{
      text-align: center;
     }
     .journey{
      text-align: center;
     justify-content:center;
     }
     .journey p
    {
  width: 100%;
     }
     .journey h3{
      width: 100%;
      text-align: center;
     }
     .earlylife{
      text-align: center;
     }
     .divine{
  
  display: flex;
  flex-direction: column;
  
     }
     .divine p{
      width: 100%;
      text-align: center;
     }
     .divine h1{
      width: 100%;
      text-align: center;
     }
    .journey img{
      width: 100%;
    }
.reference{
  display: flex;
  flex-direction:column;
}
   .reference-para{
width: 100%;
text-align: center;
   }
   .ref-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
 
   }
   div.video{
    width: 100%;
   }
  .world{
    text-align: center;

   }
   .world-para {
  display: grid  ;
  grid-template-rows: 1fr 2.3fr 1fr;
  float: right;


   }
   .world-para p{
    width: 100%;

   }
   .world-para h3{

font-size: 25px;
   }

.world-para button{
    width: 60%;
    height: 75%;
    background-color: #FF8A40;
    margin-left: auto;
    margin-right: auto;

   }
   .world img{
    width: 90%;
    height: 95%;

   }
   .Recently-column2{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
       }
  }