@font-face{font-family:"fontfutura";src:url("https://fonts.googleapis.com/css?family=Open+Sans") format("ttf");font-weight:normal;font-style:normal;}
a.btn-google{color:#fff}
.btn{padding:10px 16px;margin:5px;font-size:18px;line-height:1.3333333;border-radius:6px;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border:1px solid transparent;font-weight:500;text-decoration:none;display:inline-block}
.btn:active:focus,.btn:focus{outline:0}
.btn:focus,.btn:hover{color:#333;text-decoration:none;outline:0}
.btn:active{outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);box-shadow:inset 0 3px 5px rgba(0,0,0,.125)}
.btn-google{color:#fff;background-color:#111;border-color:#000;padding:15px 16px 5px 40px;position:relative;font-family:fontfutura;font-weight:600}
.btn-google:focus{color:#fff;background-color:#555;border-color:#000}
.btn-google:active,.btn-google:hover{color:#fff;background-color:#555;border-color:#000;}
.btn-google:before{content:"";background-image:url(https://4.bp.blogspot.com/-52U3eP2JDM4/WSkIT1vbUxI/AAAAAAAArQA/iF1BeARv2To-2FGQU7V6UbNPivuv_lccACLcB/s30/nexus2cee_ic_launcher_play_store_new-1.png);background-size:cover;background-repeat:no-repeat;width:30px;height:30px;position:absolute;left:6px;top:50%;margin-top:-15px}
.btn-google:after{content:"GET IT ON";position:absolute;top:5px;left:40px;font-size:10px;font-weight:400;}
/*]]>*/
.Footer{
    background-color: rgb(32, 31, 31);
}
.bn46 {
    width: 150px;
    height: 50px;
  }
.row1{
  display:flex;
  height:140px;

}
.DownloadButton{
    display: flex;
    justify-content: right;
    padding-top:1.9vw;
    padding-left:50vw;
   
}

.ParaName{
    color: #fff;
    font-size:18px;
   position: relative;
  padding-top:3.3vw;
  padding-left: 3.5vw;


}
hr.new1 {
  border-top: 3px solid rgb(251, 250, 250);
 width:95%;
 margin-left: 3vw;
 margin-top: -10px;
}
.col1{
  color: white;
  padding-left: 3.5vw;

}
.col1 p{
  font-size: 12px;
}
.col1 input{
width: 29.5%;
height:2.8vw;
}
.col1 button{
  color: white;
  background-color: #FF8A40;
  font-size: medium;

  width:5.5vw;
  height:3vw;
  font-family: Inter;
  border-color: none;
  }
.col1 .privacy{
 width:530px
}




.About{
  display: grid;
  justify-content: center;
color: aliceblue;
}
.Archive{
  display: grid;
  justify-content: center;
color: aliceblue;
}
.Help{
  display: grid;
  justify-content: center;
color: aliceblue;
}
.Policy{
  display: grid;
  justify-content: center;
color: aliceblue;
}
.Info{
  display: flex;
margin-left: 40vw;
margin-top:-18vw;
font-size: small;
justify-content: space-around;
line-height:2.1vw;
}





@media (3001px <= width <=9999px) {

  .row1{
    display: grid;
  }
  
  .DownloadButton{
    position: absolute;
   right: 28vw;
  margin-top: 0.1vw;
    
  }
  .col1 .privacy{
    width: 300px;
  }
  .Info{
    display: flex;
    margin-top:10vw;
  text-align: center;
  margin-left: 3px;
  
  }
  .ParaName{
    width: 30rem;
  }
}
@media (1501px <= width <=3000px) {

  .row1{
    display: grid;
  }
  
  .DownloadButton{
    position: absolute;
   right: 28vw;
  margin-top: 1vw;
    
  }
  .col1 .privacy{
    width: 300px;
  }
  .Info{
    display: flex;
    margin-top:10vw;
  text-align: center;
  margin-left: 3px;
  
  }
  .ParaName{
    width: 30rem;
  }
}
      

@media (1150px <= width <=1500px) {

  .row1{
    display: grid;
  }
  
  .DownloadButton{
    position: absolute;
   right: 28vw;
  margin-top: 3vw;
    
  }
  .col1 .privacy{
    width: 300px;
  }
  .Info{
    display: flex;
    margin-top:10vw;
  text-align: center;
  margin-left: 3px;
  
  }
  .input-button input{
    width: 180px;
    height:30px;
    
   }
  .input-button button{
   width: 80px;
   height:33px;
   
  }
  .ParaName{
    width: 30rem;
  }
 
}

@media (901px <= width <= 1149px) {
  .row1{
    display: grid;
  }
  
  .DownloadButton{
    position: absolute;
   right: 28vw;
  margin-top: 4vw;
    
  }
  .col1 .privacy{
    width: 300px;
  }
  .Info{
    display: flex;
    margin-top:10vw;
  text-align: center;
  margin-left: 3px;
  
  }
  .input-button input{
    width: 180px;
    height:30px;
    
   }
  .input-button button{
   width: 80px;
   height:33px;
   
  }
  .ParaName{
    width: 30rem;
  }
}


@media (700px <= width <= 900px) {

  .row1{
    display: grid;
  }
  
  .DownloadButton{
    position: absolute;
   right: 28vw;
  margin-top: 4vw;
    
  }
  .col1 .privacy{
    width: 300px;
  }
  .Info{
    display: flex;
    margin-top:10vw;
  text-align: center;
  margin-left: 3px;
  
  }
  .input-button input{
    width: 180px;
    height:30px;
    
   }
  .input-button button{
   width: 80px;
   height:33px;
   
  }
  .ParaName{
    width: 30rem;
  }
}



@media (611px <= width <= 699px) {

  .row1{
    display: grid;
  }
  
  .DownloadButton{
    position: absolute;
   right: 24vw;
  margin-top: 7vw;
    
  }
  
  .col1 .privacy{
    width: 360px;
  }
  .Info{
    display: grid;
    margin-top:10vw;
  text-align: center;
  margin-left: 3px;
  
  }
  .Info p{
    height:15px
  }
  .input-button input{
    width: 180px;
    height:30px;
    
   }
  .input-button button{
   width: 80px;
   height:33px;
   
  }
  .ParaName{
    width: 30rem;
  }
  
}
@media (550px <= width <= 610px) {

  .row1{
    display: grid;
  }
  
  .DownloadButton{
    position: absolute;
   right: 10vw;
  margin-top: 12vw;
    
  }
  
  .col1 .privacy{
    width: 360px;
  }
  .Info{
    display: grid;
    margin-top:10vw;
  text-align: center;
  
  margin-left: 3px;
  
  }
  .Info p{
    height:15px
  }
  .input-button input{
    width: 180px;
    height:30px;
    
   }
  .input-button button{
   width: 80px;
   height:33px;
   

  }
  .ParaName{
    width: 30rem;
  }
  }


@media (420px <= width <= 549px) {

  .row1{
    display: grid;
  }
  
  .DownloadButton{
    position: absolute;
   right: 10vw;
  margin-top: 12vw;
    
  }
  
  .col1 .privacy{
    width: 360px;
  }
  .Info{
    display: grid;
    margin-top:10vw;
  text-align: center;
  
  margin-left: 3px;
  
  }
  .Info p{
    height:15px
  }
  .input-button input{
    width: 180px;
    height:30px;
    
   }
  .input-button button{
   width: 80px;
   height:33px;
   
  }
  .ParaName{
    width: 30rem;
  }
  
  }
@media (341px <= width <= 419px) {


  .row1{
    display: grid;
  }
  
  .DownloadButton{
    position: absolute;
   right: 10vw;
  margin-top: 12vw;
    
  }
  
  .col1 .privacy{
    width: 360px;
  }
  .Info{
    display: grid;
    margin-top:10vw;
  text-align: center;
  
  margin-left: 3px;
  
  }
  
  .Info p{
    height:15px
  }
  .input-button input{
    width: 180px;
    height:30px;
    
   }
  .input-button button{
   width: 80px;
   height:33px;
   
  }
  .ParaName{
    width: 30rem;
  }
  }
 


@media (280px <= width <= 340px) {


  .row1{
    display: grid;
    
  }
  
  .DownloadButton{
    position: absolute;
   right: 1vw;
  margin-top: 12vw;

    
  }
  
  .col1 .privacy{
    width: 17rem;
  }
  .Info{
    display: grid;
    margin-top:10vw;
  text-align: center;
  line-height: 1rem;
  margin-left: 3px;
  
  }
  .col1 input{
    width:60%;
    height:1.9rem;
  }
  .col1 button{
    width:30%;
    height:33px;
  }
  }
































