*{
  margin: 0;
  padding: 0;
  box-sizing: border-box ;

}
.logo{
  display: flex;
  gap:20px;

}
p,li,a,button{

  font-weight: 400;}


.header{
  width: 100%;
  overflow:visible;

}
.container1{
  margin: auto;
height: 6rem;
  background-color: rgb(1, 1, 1);
  color: white; 
}



.dropdown a{
display: block;
text-decoration: none;
float: none;
  color: black;
  padding: 19px 16px;
}
.logo .Srila-Logo{
  color: #ffffff;
width: 17rem;
font-size: larger;
margin-top: 2%;
}




.content,
.content1,
.content2,
.content3,
.content4{
  background-color: rgb(249, 245, 252);
display: none;
width: 15rem;
position: fixed;
margin: 0;
padding: 15px 170px 10px 10px;
overflow: visible;
font-size: Raleway;


float:left;



}


.content a,
.content1 a,
.content2 a,
.content3 a,
.content4 a{

  border: 1px solid #FF8A40;
  border-radius: 15px;
  font-family: Raleway;
  font-size:medium;
  width:14rem;

}



.life:hover .content ,
.legacy:hover .content1 ,
.teaching:hover .content2 ,
.memory:hover .content3 ,
.explore:hover .content4 
{
  display: block;
  float: left;


}

.container1 nav ul {
display: flex;
gap:9px
} 
.ham-menu{
  display: none;


}
.ham-menu button{
background-color: rgb(12, 12, 12);
border: none;
top: auto;
color: aliceblue;


}
.buttons{
  display:grid;
 grid-template-columns: 1fr 1fr ;
gap:25px;
margin-left:4%;

  }









@media (width <=999px) {

  .ham-menu{
    display: inline-block;
    cursor: pointer;
    justify-content: flex-end;

  
 
  }
  .menu-web{
    display: none;
  }
  .menu-mobile{
    position: absolute;
  display: block;
  right:0;
  left: 0;
top: 3rem;
  height:50%;
background-color: black;
    color: white;
  }
  .menu-mobile ul{
    display: flex;
    flex-direction: column;
   align-items: center;
   gap: 40px;
  }



.logo{
  display: flex;

 width:fit-content;
font-size:large;
width: 17rem;
 
  }
  .ham-menu{
    display: grid;
    align-items: center;
    grid-template-columns: 8fr 1fr;
    
 
   
  }
 

.content,
.content1,
.content2,
.content3,
.content4{
  background-color: rgb(249, 245, 252);
display: none;
width:16rem;

margin: 0;
padding: 15px 170px 10px 10px;
overflow: visible;
font-size: Raleway;

margin-right: auto;
position: relative;
float:left;



}

}
