*{
padding: 0%;
margin: 0%;

}

.column img{
  display: block;
  margin: 0 auto;
  margin-top: 10%;
}

.column p{
  font-size: small;
  font-family: Roboto;
  text-align: left;
  
}
.column{
  background-color: 
white;
 height:64%;
 width:70%;
 border-style: solid;
  border-color: rgb(3, 3, 3);
text-align: center;
display: grid;
margin-left: 15%;
border-radius: 5%;


}

.buttons{

 text-align: center;
 display: flex;
 margin-left: 10%;
 border-radius: 10%;
}
.b1{
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr ; 
}
.row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ; 

}






@media (1501px <= width <=9999px) {

  .row{
    display: grid;
   grid-template-rows: 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr;
      row-gap: 10px;
      height:30vw;
      
        }
        .column img{
          width: 50%;
          display: grid;
        }
        .column p{

        text-align: center;
        font-size: medium;

        }
        .quotes{
          display: grid;
        }
  
        }
        

@media (1150px <= width <=1500px) {

  .row{
    display: grid;
   grid-template-rows: 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr;
      row-gap: 10px;
      height:30vw;
      
        }
        .column img{
          width: 50%;
          display: grid;
       
        
        }
        .quotes{
          display: grid;
        }
  
        }

@media (901px <= width <= 1149px) {
  .row{
    display: grid;
   grid-template-rows: 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr;
      row-gap: 10px;
      height:30vw;
      
      
        }
        .column img{
          width: 50%;
          display: grid;
       
        
        }
        .quotes{
          display: grid;
        }
  
        }

@media (700px <= width <= 900px) {

  .row{
    background-size: cover;
    display: flex;
    margin-left: 15%;
 
 }
 .column{
  margin-left: 4vw;
 
   }
   .column img{
    margin-left: 21vw;
    width:30%;
 
   }
   .column p{

     text-align: center;
   }
  
   }



@media (611px <= width <= 699px) {

  .row{
    background-size: cover;
    display: flex;
    margin-left: 15%;
 
 }
 .column{
  margin-left: 4vw;
 
   }
   .column img{
    margin-left: 21vw;
    width:30%;
 
   }
   .column p{

     text-align: center;
   }
  
   }

@media (550px <= width <= 610px) {

  .row{
    background-size: cover;
    display: flex;
    margin-left: 15%;
 
 }
 .column{
  margin-left: 4vw;
 
   }
   .column img{
    margin-left: 21vw;
    width:30%;
 
   }
   .column p{

     text-align: center;
   }
  
   }


@media (420px <= width <= 549px) {

  .row{
    background-size: cover;
    display: flex;
    margin-left: 15%;
 
 }
 .column{
  margin-left: 4vw;
 
   }
   .column img{
    margin-left: 21vw;
    width:30%;
 
   }
   .column p{

     text-align: center;
   }
  
   }

@media (341px <= width <= 419px) {


  .row{
    background-size: cover;
    display: flex;
    margin-left: 15%;
 
 }
 .column{
  margin-left: 4vw;
 
   }
   .column img{
    margin-left: 21vw;
    width:30%;
 
   }
   .column p{

     text-align: center;
   }
  
   }

 


@media (280px <= width <= 340px) {

  .row{
    background-size: cover;
    display: flex;
    margin-left: 15%;
 
 }
 .column{
   margin-left: 4vw;

 
   }
   .column img{
     margin-left: 21vw;
     width:30%;
 
   }
   .column p{
    
     text-align: center;
   }
  
   }