/*@import "./index.scss";
.bg-color-1 {
  background-color: $color_9 !important;
}

.bg-color-2 {
  background-color: $color_13 !important;
}

.bg-color-3 {
  background-color: $color_3 !important;
}*/