.who{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 2rem; 
    padding: 2rem;
    justify-items: center; 
}
.who .card-container{
   width:21rem;
}
.who .description{
font-family: Roboto;
width:21rem;
font-size: 14px;
font-family: italic;

}
.who .image{
    width:18rem;
    height:12rem;
    display: block;
    margin: auto;
    border: solid;
    border-color: rgb(176, 177, 177);
  
}
.who .card-body{
    display: flex;
    flex-direction: column;
}
 .button{
    background-color: black;
    color:white
}
@media only screen and (max-width: 1160px) {
    .who{
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 2rem; 
        padding: 2rem;
        justify-items: center; 
    }
}
    
@media only screen and (max-width: 765px) {
    .who{
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
        gap: 2rem; 
        padding: 2rem;
        justify-items: center; 
    }
}
