


@media (width >=1501px) {

  .container-two-columns{
    background-color: black;
    height: 63rem;
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10%;
 
   }
   .image{
  width:75%;
 float: right;
 
   }
  .data{
   float:right;
   color: #FACBAF;
   font-size: 0.7rem;
  } 
  
 }

@media (1150px <= width <=1500px) {

  .container-two-columns{
   background-color: black;
   height:33rem;
   display: grid;
   align-items: center; 
   grid-template-columns: 1fr 1fr 1fr;
   column-gap: 10%;

  }
  .image{
 width:75%;
float: right;

  }
 .data{
  float:right;
  color: #FACBAF;
  font-size: 0.7rem;
 } 
 
}
@media (901px <= width <= 1149px) {
  .container-two-columns{
    background-color: rgb(4, 4, 4);
    height:64rem;

  }
  .image{
   width:35%;
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 23%;

  }
 .data{
  text-align: center;
  color: #FACBAF;
  margin-top: 10%;
 } 
 .content{
  width:30%;
  display: block;
  margin-left: auto;
  margin-right: auto;

 }


}
@media (700px <= width <= 900px) {

  .container-two-columns{
    background-color: rgb(4, 4, 4);
    height:55rem;

  }
  .image{
   width:40%;
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 23%;

  }
 .data{
  text-align: center;
  color: #FACBAF;
  margin-top: 10%;
 } 
 .content{
  width:30%;
  display: block;
  margin-left: auto;
  margin-right: auto;



 }
}
@media (611px <= width <= 699px) {

  .container-two-columns{
    background-color: rgb(11, 11, 11);
    height:43rem;

  }
  .image{
   width:40%;
   display: block;
   margin-left: auto;
   margin-right: auto;
margin-top: 19%;

  }
 .data{
  text-align: center;
  color: #FACBAF;
  margin-top: 10%;
 } 
 .content{
  width:50%;
  display: block;
  margin-left: auto;
  margin-right: auto;



 }
}
@media (550px <= width <= 610px) {

  .container-two-columns{
    background-color: rgb(11, 11, 11);
    height:39rem;

  }
  .image{
   width:40%;
   display: block;
   margin-left: auto;
   margin-right: auto;
margin-top: 19%;

  }
 .data{
  text-align: center;
  color: #FACBAF;
  margin-top: 10%;
 } 
 .content{
  width:50%;
  display: block;
  margin-left: auto;
  margin-right: auto;



 }
}

@media (420px <= width <= 549px) {

  .container-two-columns{
    background-color: rgb(11, 11, 11);
    height:39rem;

  }
  .image{
   width:40%;
   display: block;
   margin-left: auto;
   margin-right: auto;
margin-top: 28%;

  }
 .data{
  text-align: center;
  color: #FACBAF;
  margin-top: 10%;
 } 
 .content{
  width:50%;
  display: block;
  margin-left: auto;
  margin-right: auto;



 }
}
@media (341px <= width <= 419px) {

  .container-two-columns{
    background-color: rgb(11, 11, 11);
    height:39rem;

  }
  .image{
   width:55%;
   display: block;
   margin-left: auto;
   margin-right: auto;
margin-top: 40%;

  }
 .data{
  text-align: center;
  color: #FACBAF;
  margin-top: 12%;
 } 
 .content{
  width:70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: small;




 }
}

@media (280px <= width <= 340px) {

  .container-two-columns{
    background-color: rgb(11, 11, 11);
    height:35rem;

  }
  .image{
   width:60%;
   display: block;
   margin-left: auto;
   margin-right: auto;
margin-top: 45%;

  }
 .data{
  text-align: center;
  color: #FACBAF;
  margin-top: 10%;
 } 
 .content{
  width:70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: small;




 }
}
