
* Default Design */
.container-two-columns{
 background-color: black;  
 width:100%;
  height:28rem;
  display: flex;
gap:8rem;

 

}
.image{
   height:23rem;
   align-items: center;
   display: flex;
   margin-left: 8rem;
   margin-top: 4rem;


}
.data{
   color: #FACBAF;
   margin-top: 7rem;



}
.heading{
   font-size: 6vw;
   font-family: Playfair Display;
   font-weight: 100;
}

 




/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) 
    and (orientation: portrait) {
     .container-two-columns{
 
       justify-content: center;
       align-items: center;
       display: grid;
       height:35rem;
    

      }
    
      .data{
        position: absolute;
        font-size: larger;
         top:75vw;
        margin-left: 10%;
       
    
      }
      .heading{
       display: flex;
       font-size: 45px;

      }
      .image{
position: absolute;
     height:66vw;
     margin-left: 10%;
     
        
      }
}
 





/* tab land   and  laptop*/
.container-two-columns{
background-color: rgb(2, 1, 1);  
width:100%;
height:28rem;
display: flex;
gap:8rem;


}
.image{
 height:23rem;
 align-items: center;
 display: flex;
 margin-left: 8rem;
 margin-top: 4rem;


}
.data{
 color: #FACBAF;
 margin-top: 7rem;



}
.heading{
 font-size: 7vw;
 font-family: Playfair Display;
 font-weight: 100;
 width:60%;
}



 /*mob pot*/
 @media (max-width: 520px) {
   .container-two-columns{
       
       justify-content: center;
       align-items: center;
       display: grid;
       background-color: black;
       height:35rem;
    

      }
    
      .data{

        font-size: large;
         top:75vw;
         text-align: left;
        margin-left:15%;
       
       
    
      }
      .heading{
       
       font-size: 35px;
       font-weight: 400;

      }
      .image{

     height:75vw;
     right: 23vw;
     bottom: 45%;
   
     
        
      }
}





/* mob land and tab pot */
@media screen and (min-device-width: 768px) 
    and (max-device-width: 1024px) {
     .container-two-columns{
 
       justify-content: center;
       align-items: center;
       display: flex;
       height:100vw;
       background-color: rgb(4, 4, 4);

      }
.image{
       position: absolute;
     bottom:0%;
 
      right:40%;
      justify-content: left;
      }
      .heading{
        font-weight: 400; 
        font-size:5vw;
     
      }
      .data{
       position: absolute;
   margin-top: 30vw;
  left:5%;

      }
     
     }
@media (min-width: 390px) and (max-width: 510px)  {
 .image{
     position: absolute;
    bottom: 10%;
    top:6%;
    right:28%;
    justify-content: left;
    }
  
}


@media screen and (width: 540px) {


 .image{
     
    margin-right: 14vw;
    margin-top:25%;
    
    height: 60vw;
    }
    .data{
 top:50%;
 margin-left: 15%;
    }

}
@media screen and (width: 720px) 
{
  .container-two-columns{
    height: 70vw;
    }
  .image{
    height:30vw;
   margin-left:30vw;
   margin-top:25%;
  }
  .data{
    top:19%;
    margin-left: 30%;
       }
  .content{
    width:50%;
  }
}

@media screen and (min-device-width: 412px) 
and (max-device-width: 719px) {
  .container-two-columns{
    height: 150vw;
    }
.image{
right: 21%;
top:5%;
}
.data{
left:10%;
}
.heading{
width:100%;

}
.content{
  font-size: 4vw;
  width: 70%;
}


}


@media (max-width: 344px) {
  .container-two-columns{
    height: 170vw;
    }
 .image{
   right:21%;
   top:5%;

    }
    .heading{
      width: 100%;
      
    }
    .content{
      width:85%;
      font-size: 4vw;
    }
   }
   @media screen and (width: 360px) 
   {
   .image{
   top:5%;
   }
   .heading{
     width: 100%;
   }
   .content{
     font-size: 4vw;
     width: 70%;
   }
   }
   
   @media screen and (width: 384px) 
   {
   .image{
   top:5%;
   }
   .heading{
     width: 80%;
   }
   .content{
     font-size: 4vw;
     width: 75%;
   }
   }
   @media (max-width: 375px) {
    .container-two-columns{
      height: 170vw;
      }
   .image{
     right:21%;
     top:5%;
  
      }
      .heading{
        width: 70%;
        
      }
      .content{
        width:75%;
        font-size: 4vw;
      }
     }
   @media screen and (min-device-width: 414px) 
   and (max-device-width: 719px) {
 
 .image{
  right: 21%;
  top:5%;
 }
 .data{
left:10%;


 }

}
   @media (min-width: 600px) and (max-width: 667px){
     .container-two-columns{
height:35rem;
overflow-x: hidden;
width: auto;


 }
 .image{
position: absolute;
left:20%;
height:30vw;
overflow-x: hidden;
 
  }
  .data{
   top:45%;
   position: absolute;
   overflow-x: hidden;
   left:36%;
 
  }
  .content{
width:60%;
font-size: 2.5vw;
  }
  .heading{
    left:15%;
    width:80%;
  }
    }

 



@media (width: 600px) {
  .container-two-columns{
    height:33rem;
     }
 .image{
 
   height: 15rem;
   left:12%;
   top:3%;
 }
 .data{
   top:23%;
   left:33%;
   position: absolute;
 }
 .heading{
   font-size: 46px;
 }
 .content{
   width:70%;
   font-size: 3vw;
 }
}



@media (width: 712px) {
  .container-two-columns{
    height:33rem;
     }
 .image{
 
   height: 15rem;
   left:12%;
   top:3%;
 }
 .data{
   margin-top: 21%;
   left:15%;
   position: absolute;
 }
 .heading{
   font-size: 46px;
   width: 60%;
 }
 .content{
   width:70%;
   font-size: 3vw;
 }
}
@media (width: 800px) {
 .container-two-columns{
   height:50rem;
    }
    .image{
   position: absolute;
   height: 21rem;
  top: 7%;
  margin-left:14%;
   
     }
     .data{
    
      margin-left:15%;
    

     }
     .content{
      width:55%;
     }

}



@media (min-width: 823px) {

 .container-two-columns{
   height:40rem;
    }
    .image{
   position: absolute;
   height: 15rem;
  top: 25%;
  left:19%;
   
     }
     .data{
      top:55%;
      left:33%;
     }



}
@media (min-width: 900px) and (max-width: 935px){
 
  .image{
    top:10%;
    left:30%;
  }
  .data{
    top:25%;
left:10%;
  }
  .heading{
    font-size: 46px;
  }
 }
 
@media (min-width: 800px) and (max-width: 853px){
 
 .image{
   top:10%;
   left:23%;
 }
 .data{
   top:25%;
   left:21%;
 }
 .heading{
   font-size: 46px;
 }
}
@media (min-width: 854px) and (max-width: 899px){
 
  .image{
    top:18%;
    left:23%;
  }
  .data{
    top:25%;
    left:15%;
  }
  .heading{
    font-size: 46px;
  }
 }

@media screen and (width: 740px) 
{
 .container-two-columns{
height:40rem;
overflow-x: hidden;
width: auto;


 }
 .image{
position: absolute;
left:20%;
height:30vw;
overflow-x: hidden;
top:35%;
  }
  .data{
   top:85%;
   position: absolute;
   overflow-x: hidden;
   left:36%;
 
  }
  .content{
width:60%;
  }
  .heading{
    left:15%;
  }
}





@media (min-width: 1219px) {
.container-two-columns{
 background-color: black;  
 width:100%;
  height:37rem;
  display: flex;
gap:8rem;

 

}
.image{
   height:23rem;
   align-items: center;
   display: flex;
   position: absolute;
   top:5%;
left:1%;


}
.data{
   color: #FACBAF;
position: absolute;
top:3vw;
left:45%;

}
.heading{
   font-size: 8vw;
   width:1000px;
   font-family: Playfair Display;
   font-weight: 100;
}
}
@media (width: 1024px) {
  .container-two-columns{
    height:80vw;
    overflow: hidden;
    
    }
.image{
top:25%;
left:26%;
}
.data{
top: 60%;
left: 37%;
position: absolute;
}
.heading{
  font-size: 6vw;
}
.content{
  width:50%;
}
}

@media screen and (width: 1366px) and (width: 1368px){

.container-two-columns{
height: 77%;
overflow: hidden;

}
.image{
 top:10%;
 left:10%;
}
.data{
background-color: aqua;
position: absolute;
bottom: 50%;
}
}


@media screen and (min-width: 912px) and (max-width: 915px)
{
.container-two-columns{
height:40rem;
}
.image{
  left:21%;
  top:5%;
}
.data{
top:15%;
left:35%;
}
.content{
width:45%;
}
}



@media screen and (width: 932px) 
{
.container-two-columns{
height:40rem;
}
.image{
position: absolute;
left:15%;

}
.data{
top:68%;
left:30%;
}
}

@media screen and (width: 949px) 
{
.container-two-columns{
height:40rem;
}
.image{
position: absolute;

}
.data{
top:68%;
left:30%;
}
}

@media screen and (width: 960px) 
{
  .container-two-columns{
    height:40rem;
    }
    .image{
    position: absolute;
    top:5%;
    left:21%;
    
    }
    .data{
    top:39%;
    left:30%;
    position: absolute;
    }
    .heading{
     font-size: 6vw;

    }
}


@media screen and (min-width: 1138px) and (max-width: 1149px)
{
.data{
position: absolute;
top: 30%;
}
.image{
top:10%;
left:25%;
height:25vw;
}
.data{
  left:35%;
  top:43%;
}
.content{
  width:40%;
}.heading{
  font-size: 5vw;
}
}
@media screen and (width: 732px) 
{
  .container-two-columns{
    height:35rem;
    }
.data{
margin-left: 15%;
margin-top: 40%;
}
.image{
position: absolute;
left:19%;
height: 30vw;
}
.content{
  width: 50%;
 
}
}
@media screen and (width: 712px) 
{
 .container-two-columns{
height:40rem;
}
.image{
position: absolute;
top:5%;
left:18%;
height: 40vw;

}
.data{
top:23%;
}
.heading{
  margin-left:21%;
}
.content{
  width:50%;
  margin-left:21%;
}
}


@media screen and (min-width: 1180px)   {

.image{
 top:10%;
 left:28%;
}
.data{
 top:25%;
 left: 39%;
 
}
.content{
  width:50%;
}

}

@media screen and (min-width: 1280px)   {

  .data{
    position: absolute;
    top: 30%;
    }
    .image{
    top:10%;
    left:5%;
    height:25vw;
    }
    .data{
      left:45%;
      top:10%;
    }
    .content{
      width:40%;
    }.heading{
      font-size: 7vw;
      width: 80%;
    }
}

@media screen and (width: 1470px){

 .container-two-columns{
   background-color: black;  
   width:100%;
    height:37rem;
    display: flex;
  gap:8rem;
  
   
  
  }
  .image{
     height:23rem;
     align-items: center;
     display: flex;
     position: absolute;
     top:5%;
  left:1%;
  
  
  }
  .data{
     color: #FACBAF;
position: absolute;

 
  }
  .heading{
    font-size: 7.5vw;
    position: absolute;
margin-right: 15%;
bottom: 30%;
  }
.content{

margin-top: 21vw;
}
}
@media screen and (width: 2400px){

  .container-two-columns{
    background-color: black;  
    width:100%;
     height:37rem;
     display: flex;
   gap:8rem;
   
    
   
   }
   .image{
      height:23rem;
      align-items: center;
      display: flex;
      position: absolute;
      top:5%;
   left:1%;
   
   
   }
   .data{
      color: #FACBAF;
 position: absolute;
 
  
   }
   .heading{
     font-size: 7.5vw;
     position: absolute;
 margin-right: 15%;
 bottom: 30%;
   }
 .content{
 
 margin-top: 21vw;
 }
 }